@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

/* base styles */
* {
  margin: 0;
  font-family: "Quicksand";
  color: #333;
  background-color: rgb(255, 255, 255);
}
.menu {
  padding: 20px;
  display: flex;
  align-items: center;
  margin: 0 auto;
  border-bottom: 1px solid #f2f2f2;
}
.menu h1 {
  color: #08b0f3;
  align-self: center;
}
.menu .links {
  margin-left: auto;
}
.menu a {
  margin-left: 16px;
  text-decoration: none;
  padding: 6px;
}
.menu a:hover {
  color: #08b0f3;
  border: 1px solid #333;
  border-radius: 8px;
}